@import "tailwindcss";


html{

scroll-behavior:smooth;

}



body{

margin:0;

padding:0;

background:black;

color:white;

font-family:"JetBrains Mono", monospace;

overflow-x:hidden;

}



*{

box-sizing:border-box;

}





::-webkit-scrollbar{

width:8px;

}



::-webkit-scrollbar-track{

background:#000;

}



::-webkit-scrollbar-thumb{

background:#22c55e;

border-radius:10px;

}





::selection{

background:#22c55e;

color:black;

}